<html>
<head>
	<title>CHAT SERVER</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/chat.js"></script>

</head>
<body>
	<div id="alertMessage" class="alert alert-danger" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			&times;
		</button>
		<div id="alertMessageText"></div>
	</div>

	<div id="chatMessageBoard"></div>
	
	<form role="form" id="chatMessageForm">
		<input type="text" id="chatMessage" class="form-control" rows="1" placeholder="chat message.."></textarea>
		<input type="submit" class="btn btn-success" id="chatButton" />
	</form>

	<form id="chatUsernameForm" role="form">
		<input type="text" id="username" class="form-control" rows="1" placeholder="enter username.."></textarea>
		<input type="submit" class="btn btn-default" id="usernameBtn"/>
	</form>
</body>
</html>